@font-face {
    font-family: 'NotoSansKR';
    src: url('fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
    font-style: normal;
  }
/*   
  @font-face {
    font-family: 'NotoSansKR';
    font-family는 NotoSansKR, url은 Montserrat
    src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    숫자만 적용하는 unicode-range
    unicode-range: U+0030-0039;
    font-style: normal;
  } */
  
  html, body { font-family: 'NotoSansKR'; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.BG {
    margin: auto;
    width: 1440px;
    height: 1024px;
    background-color: #fafafa;
  }
.Toolbar-BG {
    width: 1110px;
    height: 64px;
    background-color: #f4f4f4;
    margin-left:330px;
    margin-top:-64px;
  }
.header {
    /* width: 1440px; */
    height: 84px;
    /* margin: 0 0 14px; */
    padding: 5px 37px 12px 32px;
    background-color: #fff;
  }
.leftSection {
  width: 330px;
  height: 300px;
  margin: 1px 0 0;
  padding: 0px 0 600px;
  background-color: #f3f3f3;
  border-right: solid 1px rgba(151, 151, 151, 0.5);
}
.leftSection_dashboard {
  width: 330px;
  height: 920px;
  margin: 1px 0 0;
  background-color: #f3f3f3;
  border-right: solid 1px rgba(151, 151, 151, 0.5);
}
img.Menu {
    width: 31px;
    height: 25px;
    margin: 24px 34px 18px 0;
    object-fit: contain;
    /* background-color: #646464; */
  }
  img.logo {
    width: 137px;
    height: 67px;
    /* margin: 0 96px 0 34px; */
    object-fit: contain;
  }
  img.Search-Window {
    width: 666px;
    height: 44px;
    /* margin: 15px 201px 8px 96px; */
    margin: 15px 0px 8px 96px;
    object-fit: contain;
  }
  img.noti {
    width: 52px;
    height: 41px;
    margin: 14px 37px 12px 0px;
    object-fit: contain;
    float:right
  }
  img.Settings {
    width: 24px;
    height: 26px;
    margin: 24px 42px 17px 0px;
    object-fit: contain;
    opacity: 0.61;
    float:right
  }
  img.Account {
    width: 51px;
    height: 51px;
    margin: 11px 0 5px 0px;
    object-fit: contain;
    /* background-color: #581cc8; */
    float:right
  }
  .Sidebar-line {
    width: 1px;
    height: 941px;
    margin: 0 0 0 329px;
    border: solid 1px rgba(151, 151, 151, 0.5);
  }
  /* LEFT SECTION */
  img.iconVP-list-selected {
    width: 27px;
    /* height: 24px; */
    margin:17px 10px 4px 20px;
    object-fit: contain;
  }
  .selectedItem {
    background-color:#581cc8;
    height:64px;
    color: white;
    font-size:22px;
  }
  .SelectedItem_dashboard {
    background-color:#581cc8;
    height:64px;
    color: white;
    font-size:22px;
    /* margin-top:10px; */
    border-right: solid 1px rgba(151, 151, 151, 0.5);
  }
  .notSelectedItem {
    /* background-color:#581cc8; */
    height:64px;
    /* color: white; */
    font-size:22px;
    /* border-right: solid 1px rgba(151, 151, 151, 0.5); */
  }
  .Menu-Item {
    width: 81px;
    height: 32px;
    margin: 0 0 0 10px;
    font-family: NotoSansKR;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
  }
  img.icondashboard {
    width: 27px;
    /* height: 24px; */
    margin:17px 10px 4px 20px;
    object-fit: contain;
  }
  img.Tools {
    width: 296px;
    height: 31px;
    margin: 14px 0px 12px 32px;
    object-fit: contain;
  }
  img.Tools_right {
    width: 275px;
    height: 31px;
    margin: 14px 25px 14px 0px;
    object-fit: contain;
    float:right;
  }
  /* RIGHT */
  .rightSection {
    margin-left: 330px;
    margin-top:-54px;
    
  }
  .Table-Header {
    border-spacing:0px;
    width: 1109.7px;
    height: 36px;
    margin: 0 0 0 0px;
    /* padding: 9px 199.7px 10px 73px; */
    background-color: rgba(88, 28, 200, 0);
    font-size: 12px;
    margin-top: -65px;
    color: #7c7c7c;
  }
  .Rectangle {
    width: 1109.7px;
    height: 45px;
    /* padding: 7px 140.7px 7px 23px; */
    background-color: #fff;
    border-left: solid 1px rgba(151, 151, 151, 0.5);
    border-bottom: solid 1px rgba(151, 151, 151, 0.5);
  }
  .Table-Body {
    background-color: #fff;
    border-left: solid 1px rgba(151, 151, 151, 0.5);
    border-bottom: solid 1px rgba(151, 151, 151, 0.5);
    height: 45px;
    margin: 0 0 0 1px;
    /* padding: 9px 199.7px 10px 73px; */
    font-size: 14px;
    color: #000000;
  }
  th {
    text-align: left
  }
  td {
    border-bottom: solid 1px rgba(151, 151, 151, 0.5);
  }
  th:first-child, td:first-child {
    border-left: solid 1px rgba(151, 151, 151, 0.5);
  }
  input{
    width: 25px;
    height: 25px;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border: solid 2px #dadada;
    margin-left : 20px
  }
  img.VP- {
    margin-left:25px;
    width: 28px;
    height: 28px;
    /* margin: 0 28px 3px 32px; */
    object-fit: contain;
  }
  .VP-item-New {
    width: 1109.7px;
    height: 46px;
    margin: 36px 0 0 1px;
  }
  .DID- {
    width: 72px;
    height: 20px;
    font-family: NotoSansKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #581cc8;
  }
  img.indicator_ {
    margin-right : 6px;
    object-fit: contain;
  } 

  /*        DASH BOARD     */
  .Main-banner {
    width: 950px;
    height: 461px;
    margin: -100px 0px 0 30px;
    padding: 0 48px 0 47px;
    border-radius: 15px;
    box-shadow: 0 2px 6px 1px rgb(0 0 0 / 13%);
    background-color: #fff;
  }
  .Protocon-Verifier {
    width: 478px;
    height: 60px;
    margin: 0px 124px 29px 0;
    font-family: NotoSansKR;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.24px;
    color: #000;
    float: left;
  }
  .Protocon-Verifier- {
    width: 500px;
    height: 75px;
    margin: 0px 500px 150px 0;
    font-family: NotoSansKR;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: justify;
    color: #626262;
    float: left;
  }
  .link {
    width: 477px;
    height: 20px;
    margin: 0px 500px  10px 0;
    font-family: NotoSansKR;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.08px;
    text-align: justify;
    color: #581cc8;
    float: left;
  }
  .Main-banner-left{
    float : left;
    margin-top: 50px;
    position : absolute;
  }
  .Main-banner-right{
    float : right;
  }
  .mainPicture{
    height:461px;
    image-rendering: -webkit-optimize-contrast;
    margin-top: -78px;
  }
  .menuSpan{
    vertical-align: super;
  }
  .Second-banner{
    width:1000px;
    margin : 50px 0px 0px 30px;
  }

  .info {
    width: 258px;
    height: 35px;
    margin: 50px 717px 12px 3px;
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.46px;
    color: #818181;
  }

  .subBanner {
    width: 985px;
    height: 70px;
    margin: 12px 0 27px;
    padding: 34px 32px 39px 28px;
    border-radius: 16px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.13);
    background-color: #fff;
  }

  .number{
    width: 19px;
    height: 46px;
    margin: 0 19px 6px 0;
    font-family: NotoSansKR;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.19px;
    color: #818181;
  }

  .Title {
    width: 496px;
    height: 46px;
    margin: 0 124px 6px 32px;
    font-family: NotoSansKR;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.19px;
    color: #818181;
  }
  .Subtitle {
    width: 432px;
    height: 21px;
    margin: 1px 185px 0 80px;
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #919191;
  }
  .Subtitle2{
    width: 262px;
    height: 65px;
    margin: -50px 22px 4px 124px;
    font-family: NotoSansKR;
    font-size: 45px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.26px;
    color: #818181;
    float: right;
  }